{% extends "base.html" %}

{% block title %}Topic - {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block middle_left %}
    <div class="bbs-box">
        <div class="bbs-topic-header clearfix">
            <img class="bbs-user-avatar-large wi-right" src="{{ topic.user.avatar }}" />
            <div class="bbs-topic-link">
                <a href="/">V2EX</a> › <a href="#">{{ topic.node_id }}</a>
            </div>
            <div class="bbs-topic-title">
                {{ topic.title }}
            </div>
            <div class="bbs-topic-info bbs-color-gray">
                <a href="#">{{ topic.user.username }}</a>
                <span> · {{ topic.created_time }} · </span>
                <span>1071次点击</span>
            </div>
        </div>
        <div class="bbs-topic-content bbs-cell bbs-line-top">
            {{ topic.content }}
        </div>
    </div>
    <div class="bbs-box bbs-margin-top">
        <div class="">

        </div>
        回复
    </div>
{% endblock %}

{% block middle_right %}
    {{ super() }}
{% endblock %}
