{% extends "base.html" %}

{% block title %}Topic - {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block middle_left %}
    <div class="bbs-box">
        <div class="bbs-topic-header clearfix">
            <img class="bbs-user-avatar-large wi-right" src="{{ topic.user.avatar }}" />
            <div class="bbs-topic-link">
                <a href="/">V2EX</a> › <a href="{{url_for('node.show', id=topic.node_id)}}">{{ topic.node.name }}</a>
            </div>
            <div class="bbs-topic-title">
                {{ topic.title }}
            </div>
            <div class="bbs-topic-info bbs-color-gray">
                <a href="{{ url_for('user.show', id=topic.user_id) }}">{{ topic.user.username }}</a>
                <span> · {{ topic.created_time }} · </span>
                <span>1071次点击</span>
            </div>
        </div>
        <div class="bbs-topic-content bbs-cell bbs-line-top">
            {{ topic.content }}
        </div>
    </div>
    {% if topic.comments.count() > 0 %}
    <div class="bbs-box bbs-margin-top">
        <div class="bbs-color-gray bbs-cell">
            {{ topic.comments.count() }}回复 &nbsp;|&nbsp; 直到{{ topic.comments[-1].created_time }}
        </div>
        {% for m in topic.comments %}
        <div class="bbs-comment-cell bbs-cell bbs-line-top clearfix">
            <img class="bbs-user-avatar-middle wi-left" src="{{ m.user.avatar }}" alt="" />
            <div class="bbs-comment-no wi-right">
                {{ loop.index }}
            </div>
            <div class="bbs-comment-info">
                <a class="bbs-font-bold" href="{{ url_for('user.show', id=m.user_id) }}">{{ m.user.username }}</a>
                <span class="bbs-color-fade">&nbsp; {{ m.created_time }}</span>
            </div>
            <div class="bbs-comment-content">
                {{ m.content }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="bbs-comment-empty bbs-margin-top">
        目前尚无回复
    </div>
    {% endif %}
    {% if c_user %}
    <div class="bbs-box bbs-margin-top">
        <div class="bbs-cell">
            添加一条新回复
        </div>
        <div class="bbs-cell bbs-line-top">
            <form action="{{ url_for('comment.add') }}" method="post">
                <input class="wi-hide" type="text" name="user_id" value="{{ c_user.id }}">
                <input class="wi-hide" type="text" name="topic_id" value="{{ topic.id }}">
                <input type="text" name="content" placeholder="内容">
                <button type="submit" name="button">回复</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block middle_right %}
    {{ super() }}
{% endblock %}
